[submodule "json-fortran"]
	path = json-fortran
	url = https://github.com/jonathanschilling/json-fortran.git
[submodule "abscab-fortran"]
	path = abscab-fortran
	url = https://github.com/jonathanschilling/abscab-fortran
