[submodule "json-fortran"]
	path = json-fortran
	url = git@github.com:jonathanschilling/json-fortran.git
[submodule "src/vac2"]
	path = src/vac2
	url = git@github.com:jonathanschilling/vac2.git
[submodule "src/vac3"]
	path = src/vac3
	url = git@github.com:jonathanschilling/vac3.git
